@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
iframe{
  margin-top: 0vh;
  margin-bottom: 2vh;
  margin-right: 41vw;
  height: 70vh;
  width: 70vh;

}
.pBox{
  position: absolute; 
  position: fixed;
  background-color: #ffffff;
  border-radius: .2em;
  width: 50%;
  z-index: 0;
}
.dBox{
  background-color: #1f1e1e;
  position: absolute; 
  position: fixed;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  width: 10vw;
  height: 70vh;
  margin-left: 2vw;
  z-index: 0;
}
.dBox li{
  font-size: small;
  color: #acacacd0;
}
.cfb{
  margin-left: 40.5vw;
  margin-top: 5vh;
  position: absolute; 
  position: center;
  background-color: #ffffff;
  border-radius: 1em;
  width: 50vw;
  z-index: 0;
}
.pfb{
  margin-left: 40.5vw;
  margin-top: 5vh;
  position: absolute; 
  position: center;
  background-color: #ffffff;
  border-radius: 1em;
  width: 20vw;
  z-index: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  height: 100vh;
  background-color: #e7e7e7d0;
}

a {
  text-decoration: none;
  color: #acacacd0;
  
}

p {
  line-height: 1.8;
  width: auto;
}

ul {
  list-style: none;
  text-align: center;
  
}

li {
  line-height: 2.2;
  list-style-type: none;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.renewals{
  background-color: white;
  border-radius: 5%;
  width: 400px;
  height: 400px;
  margin-left: 2%;
}
.page{
  position: relative;
  justify-content: center;
  align-items: center;
}
.logo {
  position:absolute;
  right: 94vw;
  font-size: 25px;
 
}
.cP{
  position:absolute;
  right: 85vw;
  font-size: 15px;
}
.logo a:hover{
  color: #A386E0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  background-color: #1f1e1e;
  color: #acacacd0;
  margin-bottom: 60px;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
}
.header a:hover{
  color: #A386E0;
}

.sBar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-left: .26vw;
  min-width: 9.8vw;
  max-width: 9.8vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}
.sBar:focus{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.sBox{
  display: flex;
  position: absolute;
  background-color: #ffffff;
  margin-left: .25vw;
  width: 9.8vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 100;
  
}
.sItems {
  position: absolute; 
  position: fixed;
  min-width: 9.75vw;
  max-width: 9.75vw;
 
}

.sText{
  border:none;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color:  #A386E0;
}

.header ul li a svg {
  margin-right: px;
}

.heading {
  font-size: 2rem;
  font-weight: 8000;
  margin-bottom: 50px;
  padding: 0 20px;
  color: rgb(20, 18, 19);
}

.heading p {
  color: #acacac;
}


.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #9B9B9B;
  border-radius: 5px;
  background: #9B9B9B;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logBtn {
 
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #9B9B9B;
  font-size: 10;
  font-weight: 70;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  top: 20px;
  right: 10px;
  position: absolute;
  
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
