@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dropdown Button */
.dropbtn {
  background-color: #1f1e1e;
  color: #999;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.popup-box {
  position: relative;
  width: 500px;
  top: -900px;
  left: 0;
 
  pointer-events: all;
    

  z-index: 2;
}

.close-icon {
  content: 'X';
  position:relative;
  width: 15px;
  top: -20px;
  left: 165px;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #1677ff;
}

.popbox {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

iframe {
  margin-top: 0vh;
  margin-bottom: 2vh;
  margin-right: 41vw;
  height: 70vh;
  width: 70vh;

}

.react-calendar {
  background-color: #ffffff;
  border-radius: .2em;
  padding: 5px;
  width: 95%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  margin-left: 2vw;
}

.react-calendar__tile {
  border: 0;
  background-color: #ffffff;
  padding: 20px;
  max-height: 20vh;
  min-height: 14vh;

}

.react-calendar__tile:hover {
  background-color: #A386E0;
}

.react-calendar__tile:active {
  padding: 20px;
  background-color: #86a2e0;
}

.react-calendar__navigation__label {
  border: 0;
  background-color: #ffffff;
  padding: 20px;
}

.react-calendar__navigation__arrow {
  border: 0;
  background-color: #ffffff;
  padding: 20px;
}

.selected-tile {
  background-color: #ac89f7;
  /* or any other color */
}

.event-info {
  margin-top: 5px;
  display: block;
  padding: 10px;
}

.eventData {
  position: absolute;
  position: fixed;
  margin-bottom: 10vh;



}

.pBox {
  position: absolute;
  position: fixed;
  background-color: #ffffff;
  border-radius: .2em;
  margin-right: 2vw;
  margin-left: 1.5vw;
  width: 97%;
  height: 45%;
  z-index: 0;
  top: 10vh;

}


.nBox {
  position: absolute;
  position: fixed;
  background-color: #ffffff;
  border-radius: .2em;
  width: 33.9%;
  height: 40vh;
  top: 57vh;
  z-index: 0;
  left: 64.6vw;
}

.nBox p {
  position: absolute;
  position: fixed;
  font-size: small;
  margin-top: 1vh;
  margin-left: 1vw;
}

.eBox {
  position: absolute;
  position: fixed;
  background-color: #ffffff;
  border-radius: .2em;
  width: 62%;
  height: 40vh;
  top: 57vh;
  z-index: 0;
  margin-left: 1.5vw;
}

.eBox p {
  position: absolute;
  position: fixed;
  font-size: small;
  margin-top: 1vh;
  margin-left: 1vw;
}

.dBox {
  background-color: #1f1e1e;
  position: absolute;
  position: fixed;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  width: 10vw;
  height: 70vh;
  margin-left: 2vw;
  z-index: 0;
}

.dBox li {
  font-size: small;
  color: #acacacd0;
}

.cfb {
  margin-left: 40.5vw;
  margin-top: 5vh;
  position: absolute;
  position: center;
  background-color: #ffffff;
  border-radius: 1em;
  width: 50vw;
  z-index: 0;
}

.pfb {
  margin-left: 40.5vw;
  margin-top: 5vh;
  position: absolute;
  position: center;
  background-color: #ffffff;
  border-radius: 1em;
  width: 20vw;
  z-index: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  height: 100vh;
  background-color: #e7e7e7d0;
}

a {
  text-decoration: none;
  color: #acacacd0;

}

p {
  line-height: 1.8;
  width: auto;
}

ul {
  list-style: none;
  text-align: center;

}

li {
  line-height: 2.2;
  list-style-type: none;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.renewals {
  background-color: white;
  border-radius: 5%;
  width: 400px;
  height: 400px;
  margin-left: 2%;
}

.page {
  position: relative;
  justify-content: center;
  align-items: center;
  color: #000;
}

.logo {
  position: absolute;
  right: 94vw;
  font-size: 25px;

}

.cP {
  position: absolute;
  right: 85vw;
  font-size: 15px;
}

.logo a:hover {
  color: #A386E0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1e1e;
  color: #acacacd0;
  margin-bottom: 60px;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

.header a:hover {
  color: #A386E0;
}

.sBar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-left: .26vw;
  min-width: 9.8vw;
  max-width: 9.8vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}

.sBar:focus {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.sBox {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  margin-left: .25vw;
  width: 9.8vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 100;

}

.sItems {
  position: absolute;
  position: fixed;
  min-width: 9.75vw;
  max-width: 9.75vw;

}

.sText {
  border: none;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #A386E0;
}

.header ul li a svg {
  margin-right: px;
}

.heading {
  font-size: 2rem;
  font-weight: 8000;
  margin-bottom: 50px;
  padding: 0 20px;
  color: rgb(20, 18, 19);
}

.heading p {
  color: #acacac;
}


.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #9B9B9B;
  border-radius: 5px;
  background: #9B9B9B;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logBtn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 8000;
  border: none;
  background-color: #ddd;
  appearance: button;
  margin-left: 17px;

}
.logBtn:hover{
  color:#A386E0
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}